.card-container {
  position: relative;
  width: 250px;
  height: 350px;
  perspective: 1000px;
  cursor: pointer;
}

.card-wrapper {
  perspective: 1000px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.flipped {
  transform: rotateY(180deg);
}

