.front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front > img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.like {
  position: absolute;
  right: 0;
  bottom: 70px !important;
}

.front > span {
  position: absolute;
  display: block;
  color: white;
  background: rgb(230, 158, 24);
  width: 50px;
  height: 50px;
  padding: 13px;
  border-radius: 50%;
  text-align: center;
  right: -10px;
  top: -10px;
  backface-visibility: hidden;
  font-weight: 700;
}

.card-footer {
  padding: 15px;
  position: absolute;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 120px;
  background: #1e1b26;
}

.card-footer > i {
  position: absolute;
  bottom: 20px;
  right: 15px;
}


.card-footer > h4 {
  margin: 2px 0;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.card-footer > h5 {
  margin: 2px 0;
  text-align: left;
  font-size: 28px;
  font-weight: bold;
  color: white;
}

.card-footer > p {
  text-align: left;
  font-weight: 100;
  font-size: 22px;
  color: rgb(255, 255, 255);
}

